@font-face {
    font-family: "icons";
    src: url("./icons.eot?40588b5539cdeab708fb48b314391f51?#iefix") format("embedded-opentype"),
url("./icons.woff2?40588b5539cdeab708fb48b314391f51") format("woff2"),
url("./icons.woff?40588b5539cdeab708fb48b314391f51") format("woff"),
url("./icons.ttf?40588b5539cdeab708fb48b314391f51") format("truetype"),
url("./icons.svg?40588b5539cdeab708fb48b314391f51#icons") format("svg");
}

i[class^="mi-"]:before, i[class*=" mi-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mi-add:before {
    content: "\f101";
}
.mi-archive:before {
    content: "\f102";
}
.mi-arrow-down:before {
    content: "\f103";
}
.mi-arrow-left-down:before {
    content: "\f104";
}
.mi-arrow-left-up:before {
    content: "\f105";
}
.mi-arrow-left:before {
    content: "\f106";
}
.mi-arrow-right-down:before {
    content: "\f107";
}
.mi-arrow-right-up:before {
    content: "\f108";
}
.mi-arrow-right:before {
    content: "\f109";
}
.mi-arrow-up:before {
    content: "\f10a";
}
.mi-attachment:before {
    content: "\f10b";
}
.mi-ban:before {
    content: "\f10c";
}
.mi-bar-chart-alt:before {
    content: "\f10d";
}
.mi-bar-chart:before {
    content: "\f10e";
}
.mi-board:before {
    content: "\f10f";
}
.mi-book:before {
    content: "\f110";
}
.mi-bookmark:before {
    content: "\f111";
}
.mi-calendar:before {
    content: "\f112";
}
.mi-call:before {
    content: "\f113";
}
.mi-camera:before {
    content: "\f114";
}
.mi-caret-down:before {
    content: "\f115";
}
.mi-caret-left:before {
    content: "\f116";
}
.mi-caret-right:before {
    content: "\f117";
}
.mi-caret-up:before {
    content: "\f118";
}
.mi-check:before {
    content: "\f119";
}
.mi-chevron-double-down:before {
    content: "\f11a";
}
.mi-chevron-double-left:before {
    content: "\f11b";
}
.mi-chevron-double-right:before {
    content: "\f11c";
}
.mi-chevron-double-up:before {
    content: "\f11d";
}
.mi-chevron-down:before {
    content: "\f11e";
}
.mi-chevron-left:before {
    content: "\f11f";
}
.mi-chevron-right:before {
    content: "\f120";
}
.mi-chevron-up:before {
    content: "\f121";
}
.mi-circle-add:before {
    content: "\f122";
}
.mi-circle-arrow-down:before {
    content: "\f123";
}
.mi-circle-arrow-left:before {
    content: "\f124";
}
.mi-circle-arrow-right:before {
    content: "\f125";
}
.mi-circle-arrow-up:before {
    content: "\f126";
}
.mi-circle-check:before {
    content: "\f127";
}
.mi-circle-error:before {
    content: "\f128";
}
.mi-circle-help:before {
    content: "\f129";
}
.mi-circle-information:before {
    content: "\f12a";
}
.mi-circle-remove:before {
    content: "\f12b";
}
.mi-circle-warning:before {
    content: "\f12c";
}
.mi-clipboard-check:before {
    content: "\f12d";
}
.mi-clipboard-list:before {
    content: "\f12e";
}
.mi-clipboard:before {
    content: "\f12f";
}
.mi-clock:before {
    content: "\f130";
}
.mi-close:before {
    content: "\f131";
}
.mi-cloud-download:before {
    content: "\f132";
}
.mi-cloud-upload:before {
    content: "\f133";
}
.mi-cloud:before {
    content: "\f134";
}
.mi-computer:before {
    content: "\f135";
}
.mi-copy:before {
    content: "\f136";
}
.mi-credit-card:before {
    content: "\f137";
}
.mi-delete:before {
    content: "\f138";
}
.mi-document-add:before {
    content: "\f139";
}
.mi-document-check:before {
    content: "\f13a";
}
.mi-document-download:before {
    content: "\f13b";
}
.mi-document-empty:before {
    content: "\f13c";
}
.mi-document-remove:before {
    content: "\f13d";
}
.mi-document:before {
    content: "\f13e";
}
.mi-download:before {
    content: "\f13f";
}
.mi-drag:before {
    content: "\f140";
}
.mi-edit-alt:before {
    content: "\f141";
}
.mi-edit:before {
    content: "\f142";
}
.mi-email:before {
    content: "\f143";
}
.mi-expand:before {
    content: "\f144";
}
.mi-export:before {
    content: "\f145";
}
.mi-external-link:before {
    content: "\f146";
}
.mi-eye-off:before {
    content: "\f147";
}
.mi-eye:before {
    content: "\f148";
}
.mi-favorite:before {
    content: "\f149";
}
.mi-filter-alt:before {
    content: "\f14a";
}
.mi-filter:before {
    content: "\f14b";
}
.mi-folder-add:before {
    content: "\f14c";
}
.mi-folder-check:before {
    content: "\f14d";
}
.mi-folder-download:before {
    content: "\f14e";
}
.mi-folder-remove:before {
    content: "\f14f";
}
.mi-folder:before {
    content: "\f150";
}
.mi-grid:before {
    content: "\f151";
}
.mi-heart:before {
    content: "\f152";
}
.mi-home:before {
    content: "\f153";
}
.mi-image:before {
    content: "\f154";
}
.mi-inbox:before {
    content: "\f155";
}
.mi-laptop:before {
    content: "\f156";
}
.mi-link-alt:before {
    content: "\f157";
}
.mi-link:before {
    content: "\f158";
}
.mi-list:before {
    content: "\f159";
}
.mi-location:before {
    content: "\f15a";
}
.mi-lock:before {
    content: "\f15b";
}
.mi-log-out:before {
    content: "\f15c";
}
.mi-map:before {
    content: "\f15d";
}
.mi-megaphone:before {
    content: "\f15e";
}
.mi-menu:before {
    content: "\f15f";
}
.mi-message-alt:before {
    content: "\f160";
}
.mi-message:before {
    content: "\f161";
}
.mi-mobile:before {
    content: "\f162";
}
.mi-moon:before {
    content: "\f163";
}
.mi-notification-off:before {
    content: "\f164";
}
.mi-notification:before {
    content: "\f165";
}
.mi-options-horizontal:before {
    content: "\f166";
}
.mi-options-vertical:before {
    content: "\f167";
}
.mi-pause:before {
    content: "\f168";
}
.mi-percentage:before {
    content: "\f169";
}
.mi-pin:before {
    content: "\f16a";
}
.mi-play:before {
    content: "\f16b";
}
.mi-refresh:before {
    content: "\f16c";
}
.mi-remove:before {
    content: "\f16d";
}
.mi-search:before {
    content: "\f16e";
}
.mi-select:before {
    content: "\f16f";
}
.mi-send:before {
    content: "\f170";
}
.mi-settings:before {
    content: "\f171";
}
.mi-share:before {
    content: "\f172";
}
.mi-shopping-cart-add:before {
    content: "\f173";
}
.mi-shopping-cart:before {
    content: "\f174";
}
.mi-sort:before {
    content: "\f175";
}
.mi-speakers:before {
    content: "\f176";
}
.mi-stop:before {
    content: "\f177";
}
.mi-sun:before {
    content: "\f178";
}
.mi-switch:before {
    content: "\f179";
}
.mi-table:before {
    content: "\f17a";
}
.mi-tablet:before {
    content: "\f17b";
}
.mi-tag:before {
    content: "\f17c";
}
.mi-undo:before {
    content: "\f17d";
}
.mi-unlock:before {
    content: "\f17e";
}
.mi-user-add:before {
    content: "\f17f";
}
.mi-user-check:before {
    content: "\f180";
}
.mi-user-remove:before {
    content: "\f181";
}
.mi-user:before {
    content: "\f182";
}
.mi-users:before {
    content: "\f183";
}
.mi-volume-off:before {
    content: "\f184";
}
.mi-volume-up:before {
    content: "\f185";
}
.mi-warning:before {
    content: "\f186";
}
.mi-zoom-in:before {
    content: "\f187";
}
.mi-zoom-out:before {
    content: "\f188";
}
